$color-primary:#ec1f26;
$color-secondary:#33ba99;
$color-third: #84bd00;
$bg-white:#ffffff;
$bg-gray: #f6f6f6;
$bg-gray-ligth: #f9f9f9;

$color-text: #4a4a4a;
$color-text-white: #ffffff;


$color-text-dark:#2e2e2e;
$border-link:#3b3b3b;
$color-text-light:#3b3b3b;
$color-text-tab:#d5d5d5;

$btn-white:#ffffff;
$border-color: #d5d5d5;
$bg-warning: #f9f5fd;
$bg-footer-up: #474747;
$bg-footer-down: #363636;
$btn-close:#5e5e5e;
$bg-foto:#5b5b5b;